body{
    background-color: #D8D8D8;
   
}

#contenedor{
max-width:500px;
width:80%;
height:auto;    
padding:20px;   
background-color:#E6E6E6;
margin: 0 auto;
margin-top: 100px;
}

#nombre{
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

#apellido{
    width: 400px;
    height: 50px;
    margin-top: 20px;
}
#matricula{
    width: 400px;
    height: 50px;
    margin-top: 20px;
}
#boton{
    height: 40px;
    width: 100px;
    background-color: #3296DA;
    margin-top: 25px;
    border color: white;
    color: white;
}